.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	gap: 10px;
	cursor: pointer;
	&--rectangle {
		background-color: var(--gray-600);
		height: 45px;
		img {
			height: 1.15em;
		}
	}
	&--square {
		aspect-ratio: 1;
		background-color: var(--gray-400);
		&:hover {
			background-color: var(--gray-600);
		}
	}
}
