.color-shades {
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--gray-400);
	border-radius: var(--border-radius);
	overflow: hidden;
	outline: 5px solid rgba(41, 44, 57, 0.08);
	outline-offset: -5px;
	&:hover > .color-shades__toggle {
		opacity: 1;
	}
	&__toggle {
		transition: var(--transition);
		cursor: pointer;
		position: absolute;
		z-index: 1;
		opacity: 0;
	}
	&__gradient {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		outline: 5px solid rgba(41, 44, 57, 0.08);
		outline-offset: -5px;
	}
	&__shade {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding-bottom: 10px;
		height: 100%;
		flex: 1;
		cursor: pointer;
		span {
			font-size: 12px;
		}
		&--selected-color {
			flex: 2.5;
			pointer-events: none;
		}
	}
}
