.modal {
	min-width: 340px;
	max-width: 460px;
	background-color: var(--gray-500);
	border-radius: var(--border-radius);
	overflow: hidden;
	&__head {
		padding: 15px;
		background: var(--gray-400);
		font-size: var(--fs-m);
	}
	&__body {
		padding: 15px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__content {
		font-weight: var(--fw-regular);
		text-wrap: balance;
	}
	&__controls {
		display: flex;
		gap: 10px;
	}
}
