.drawer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	position: absolute;
	background-color: var(--gray-500);
	padding: 15px 15px 25px 15px;
	// display: flex;
	// flex-direction: column;
	gap: 15px;
	// bottom: 60px;
	bottom: 125px;
	left: 10px;
	right: 10px;
	border-radius: var(--border-radius);
}
