.footer {
	padding: 0 10px;
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 15px;
		background-color: var(--gray-400);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		padding: 20px 30px;
		span {
			font-weight: var(--fw-regular);
			opacity: 0.5;
		}
	}
}
