.tippy-box[data-theme~="swwwatch"] {
	text-transform: uppercase;
	background-color: var(--gray-600);
	text-align: center;
	font-size: var(--fs-r);
}
.tippy-box[data-theme~="swwwatch"] {
	span {
		display: block;
		&:last-of-type {
			font-weight: var(--fw-regular);
			font-size: var(--fs-s);
			opacity: 0.5;
			transform: skew(-15deg);
			text-transform: initial;
		}
	}
}

.tippy-box[data-theme~="swwwatch"][data-placement^="top"] > .tippy-arrow::before {
	border-top-color: var(--gray-600);
}

.tippy-box[data-theme~="swwwatch"][data-placement^="bottom"] > .tippy-arrow::before {
	border-bottom-color: var(--gray-600);
}

.tippy-box[data-theme~="swwwatch"][data-placement^="left"] > .tippy-arrow::before {
	border-left-color: var(--gray-600);
}

.tippy-box[data-theme~="swwwatch"][data-placement^="right"] > .tippy-arrow::before {
	border-right-color: var(--blue-300);
}
