#root {
	width: 100%;
}

.app {
	position: relative;
	height: 100dvh;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	min-width: 320px;
	@media (min-width: 1000px) {
		flex-direction: row;
	}
}
