@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	font-size: var(--fs-r);
	font-weight: var(--fw-semibold);
	background-color: var(--gray-600);
	color: var(--white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--fs-xxl: 22px;
	--fs-xl: 20px;
	--fs-l: 18px;
	--fs-m: 16px;
	--fs-r: 14px;
	--fs-s: 12px;
	--fw-regular: 400;
	--fw-semibold: 600;

	--white-text: rgba(255, 255, 255, 0.8);
	--white: #fff;
	--gray-600: #292c39;
	--gray-500: #41455a;
	--gray-400: #555b77;

	--border-radius: 5px;

	/* todo add box-shadow variables (also other variables from the old project)*/
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
}

svg.filled {
	fill: var(--white);
}

svg.filled path:not(:first-of-type) {
	stroke: var(--gray-400);
}
