.drawer--current-color {
	.color-shades {
		height: 60px;
		display: flex;
		background: var(--gray-400);
		border-radius: var(--border-radius);
		overflow: hidden;
		&__shade {
			height: 100%;
			flex: 1;
			&:nth-child(3) {
				flex: 2.5;
			}
		}
	}
	.color-details {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}
