.nav {
	display: flex;
	height: 50px;
	background: var(--gray-400);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 2;
	overflow: hidden;
	&--drawer-open {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}
	&__option {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		cursor: pointer;
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			height: 3px;
			width: 40%;
			background-color: var(--white-text);
			border-radius: 10px 10px 0 0;
			opacity: 0;
			transition: var(--transition);
		}
		&:not(.nav__option--active):hover {
			&::before {
				opacity: 0.2;
			}
		}
		&--active::before {
			opacity: 1;
			width: 70%;
		}
	}
	@media (min-width: 1000px) {
		width: 400px;
		&--drawer-open {
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}
	}
}

#tutorial {
	display: none;
	@media (min-width: 1000px) {
		display: block;
		position: absolute;
		top: 80px;
		right: 150px;
		pointer-events: none;
	}
}
