.nav {
	display: flex;
	height: 50px;
	background: var(--gray-400);
	border-radius: var(--border-radius);
	position: relative;
	z-index: 1;
	overflow: hidden;
	&--drawer-open {
		border-radius: 0 0 var(--border-radius) var(--border-radius);
	}
	&__option {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		cursor: pointer;
		&:hover {
			background-color: var(--gray-500);
		}
	}
}
